{{- $node := .Node -}}
{{- $current := .Current -}}
{{- $displayTitle := .DisplayTitle | default $node.LinkTitle -}}
{{- $pages := where $node.RegularPages.ByWeight "Params.hiddenFromSidebarNav" "ne" true -}}
{{- $sections := where $node.Sections.ByWeight "Params.hiddenFromSidebarNav" "ne" true -}}
{{- if or $pages $sections -}}
  {{- $isCurrentPath := hasPrefix $current $node.RelPermalink -}}
  {{- $open := or $isCurrentPath (hasPrefix $node.RelPermalink $current) -}}
  {{- $hasChildren := or $pages $sections -}}
  <div class="details collection-details{{ if $open }} open{{ end }}">
    <div class="details-summary collection-summary">
      {{- dict "Class" "fa-regular fa-folder-open" | partial "plugin/icon.html" -}}
      <a class="collection-name site-sidebar-nav__section{{ if eq $current $node.RelPermalink }} active{{ end }}" href="{{ $node.RelPermalink }}" title="{{ $displayTitle }}">{{ $displayTitle }}</a>
      <span class="collection-count">{{ len $node.RegularPagesRecursive }}</span>
      {{- if $hasChildren -}}
      {{- dict "Class" "details-icon fa-solid fa-angle-right" | partial "plugin/icon.html" -}}
      {{- end -}}
    </div>
    {{- if $isCurrentPath -}}
    <div class="details-content collection-content">
      <nav>
        <ul class="collection-list">
          {{- range $sections -}}
            <li class="collection-item site-sidebar-nav__nested">
              {{- partial "site-sidebar-nav-node.html" (dict "Node" . "Current" $current) -}}
            </li>
          {{- end -}}
          {{- range $pages -}}
            {{- $title := .Params.shortTitle | default .LinkTitle | default .File.TranslationBaseName -}}
            <li class="collection-item">
              {{- if eq $current .RelPermalink -}}
                <span class="active" title="{{ $title }}">{{ $title }}</span>
              {{- else -}}
                <a href="{{ .RelPermalink }}" title="{{ $title }}">{{ $title }}</a>
              {{- end -}}
            </li>
          {{- end -}}
        </ul>
      </nav>
    </div>
    {{- else -}}
    <template class="collection-lazy-placeholder" data-href="{{ $node.RelPermalink }}">
      <div class="details-content collection-content">
        <nav>
          <ul class="collection-list">
            {{- range $sections -}}
              <li class="collection-item site-sidebar-nav__nested">
                {{- partial "site-sidebar-nav-node.html" (dict "Node" . "Current" $current) -}}
              </li>
            {{- end -}}
            {{- range $pages -}}
              {{- $title := .Params.shortTitle | default .LinkTitle | default .File.TranslationBaseName -}}
              <li class="collection-item">
                <a href="{{ .RelPermalink }}" title="{{ $title }}">{{ $title }}</a>
              </li>
            {{- end -}}
          </ul>
        </nav>
      </div>
    </template>
    {{- end -}}
  </div>
{{- end -}}
