{{- $node := .Node -}}
{{- $current := .Current -}}
{{- $level := .Level | default 0 -}}
{{- $pages := where $node.RegularPages.ByWeight "Params.hiddenFromFileNav" "ne" true -}}
{{- $sections := where $node.Sections.ByWeight "Params.hiddenFromFileNav" "ne" true -}}
{{- if or $pages $sections -}}
  {{- $isCurrentSection := hasPrefix $current $node.RelPermalink -}}
  <li class="site-file-nav__group site-file-nav__level-{{ $level }}">
    <details class="site-file-nav__details"{{ if $isCurrentSection }} open{{ end }}>
      <summary class="site-file-nav__summary">
        <span class="site-file-nav__chevron" aria-hidden="true"></span>
        <a class="site-file-nav__section-link{{ if eq $current $node.RelPermalink }} is-active{{ end }}" href="{{ $node.RelPermalink }}">{{ $node.LinkTitle }}</a>
        <span class="site-file-nav__count">{{ len $node.RegularPagesRecursive }}</span>
      </summary>
      <ul class="site-file-nav__list">
        {{- range $sections -}}
          {{- partial "site-file-nav-node.html" (dict "Node" . "Current" $current "Level" (add $level 1)) -}}
        {{- end -}}
        {{- range $pages -}}
          {{- $title := .Params.shortTitle | default .LinkTitle | default .File.TranslationBaseName -}}
          <li class="site-file-nav__item">
            <a class="site-file-nav__link{{ if eq $current .RelPermalink }} is-active{{ end }}" href="{{ .RelPermalink }}" title="{{ $title }}"{{ if eq $current .RelPermalink }} aria-current="page"{{ end }}>
              {{- $title -}}
            </a>
          </li>
        {{- end -}}
      </ul>
    </details>
  </li>
{{- end -}}
